.chorder__footer {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background-color: var(--highlight-color);
    font-size: 14px;
}

.chorder__footer-content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    max-width: var(--site-width);
    width: 100%;
    margin: 0 auto;
    padding: 12px 16px;
    gap: 16px;
    box-sizing: border-box;
}